In [31]:
%matplotlib inline
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [32]:
import warnings
warnings.filterwarnings("ignore")

In [33]:
site=['1G30林口中山店','1G32桃園大業店','1G33竹北文興店','1G34蘆洲集賢店','1G35板橋新埔店','1G36新營金華店','1G37永康復國店','1G38大安安和店','1G39頭份中央店']
import os

In [34]:
for i in site:
    os.chdir('C:/Users/RT009223/TestriteGroup\滲透率專案/01_raw data/TLW社區店/'+i)
    files=os.listdir('C:/Users/RT009223/TestriteGroup\滲透率專案/01_raw data/TLW社區店/'+i)
    start=1
    if len(files)>12:
        files=files[:12]
    for j in files:
        print(i,start,j)
        start+=1

1G30林口中山店 1 201907
1G30林口中山店 2 201908
1G30林口中山店 3 201909
1G30林口中山店 4 201910
1G30林口中山店 5 201911
1G30林口中山店 6 201912
1G30林口中山店 7 202001
1G30林口中山店 8 202002
1G30林口中山店 9 202003
1G30林口中山店 10 202004
1G30林口中山店 11 202005
1G30林口中山店 12 202006
1G32桃園大業店 1 201909
1G32桃園大業店 2 201910
1G32桃園大業店 3 201911
1G32桃園大業店 4 201912
1G32桃園大業店 5 202001
1G32桃園大業店 6 202002
1G32桃園大業店 7 202003
1G32桃園大業店 8 202004
1G32桃園大業店 9 202005
1G32桃園大業店 10 202006
1G32桃園大業店 11 202007
1G33竹北文興店 1 201911
1G33竹北文興店 2 201912
1G33竹北文興店 3 202001
1G33竹北文興店 4 202002
1G33竹北文興店 5 202003
1G33竹北文興店 6 202004
1G33竹北文興店 7 202005
1G33竹北文興店 8 202006
1G33竹北文興店 9 202007
1G34蘆洲集賢店 1 201912
1G34蘆洲集賢店 2 202001
1G34蘆洲集賢店 3 202002
1G34蘆洲集賢店 4 202003
1G34蘆洲集賢店 5 202004
1G34蘆洲集賢店 6 202005
1G34蘆洲集賢店 7 202006
1G34蘆洲集賢店 8 202007
1G35板橋新埔店 1 202003
1G35板橋新埔店 2 202004
1G35板橋新埔店 3 202005
1G35板橋新埔店 4 202006
1G35板橋新埔店 5 202007
1G36新營金華店 1 202003
1G36新營金華店 2 202004
1G36新營金華店 3 202005
1G36新營金華店 4 202006
1G36新營金華店 5 202007
1G37永康復國店 1 202004
1G37永康復國店 2 202005
1G37永康復國店 3 202006
1G37永康復國店 4 202007
1G38大安安和店 1 202005
1G38大安安和店 2 202006
1G38大安安和店 3 202007
1G39頭份中央店 1 202007

In [35]:
df01=pd.DataFrame(columns=['id','type','time','site','timeline'])
df02=pd.DataFrame(columns=['id','type','time','site','timeline'])
for i in site:
    os.chdir('C:/Users/RT009223/TestriteGroup/滲透率專案/01_raw data/TLW社區店/'+i)
    files=os.listdir('C:/Users/RT009223/TestriteGroup/滲透率專案/01_raw data/TLW社區店/'+i)
    if len(files)>12:
        files=files[:12]
    start=1
    for j in files:
        df01_2=pd.read_csv(j+'/一般卡會員活躍程度.csv',header=None,names=['id','type'])
        df01_2['time']=j
        df01_2['site']=i
        df01_2['timeline']=start
        df01_3=df01_2[-(df01_2.id.isin(df02[df02['site']==i]['id']))]
        df01=pd.concat([df01,df01_2]).reset_index(drop=True)
        df02=pd.concat([df02,df01_3]).reset_index(drop=True)
        start+=1
    print(df01.shape)
    print(df02.shape)

(23785, 5)
(15193, 5)
(42236, 5)
(25853, 5)
(61695, 5)
(39598, 5)
(81017, 5)
(53884, 5)
(94683, 5)
(64154, 5)
(105682, 5)
(72510, 5)
(111930, 5)
(77469, 5)
(116839, 5)
(81606, 5)
(118927, 5)
(83694, 5)

In [36]:
print(df01.groupby(['site'])['id'].count())
print('去重',df02.groupby(['site'])['id'].count())

site
1G30林口中山店    23785
1G32桃園大業店    18451
1G33竹北文興店    19459
1G34蘆洲集賢店    19322
1G35板橋新埔店    13666
1G36新營金華店    10999
1G37永康復國店     6248
1G38大安安和店     4909
1G39頭份中央店     2088
Name: id, dtype: int64
去重 site
1G30林口中山店    15193
1G32桃園大業店    10660
1G33竹北文興店    13745
1G34蘆洲集賢店    14286
1G35板橋新埔店    10270
1G36新營金華店     8356
1G37永康復國店     4959
1G38大安安和店     4137
1G39頭份中央店     2088
Name: id, dtype: int64

In [37]:
df01_01=df01.groupby(['site','type','time','timeline'])['id'].count().reset_index(name='n_month')
df01_02=df01.groupby(['site','time','timeline'])['id'].count().reset_index(name='n_month_all')
df01_01=pd.merge(df01_01,df01_02)
df01_01['percent_month']=df01_01.n_month/df01_01.n_month_all

#df01_02=pd.pivot_table(df01_01,index=['site','type'],values=['percent'],columns=['time'])
#df01_02.columns=df01_01.time.unique()
#df01_02=df01_02.reset_index()
df01_02=df01_01.copy()
df01_02.type=df01_02.type.apply(lambda x:str(x))
df01_02.type=df01_02.type.replace('1','type1:new')
df01_02.type=df01_02.type.replace('2','type2:active')
df01_02.type=df01_02.type.replace('3','type3:1yr~3yr')
df01_02.type=df01_02.type.replace('4','type4:3yr~')

In [38]:
df01_02

,site,type,time,timeline,n_month,n_month_all,percent_month
0,1G30林口中山店,type1:new,201907,1,212,1638,0.129426
1,1G30林口中山店,type2:active,201907,1,783,1638,0.478022
2,1G30林口中山店,type3:1yr~3yr,201907,1,221,1638,0.134921
3,1G30林口中山店,type4:3yr~,201907,1,422,1638,0.257631
4,1G30林口中山店,type1:new,201908,2,158,2875,0.054957
...,...,...,...,...,...,...,...
227,1G38大安安和店,type4:3yr~,202007,3,471,1864,0.252682
228,1G39頭份中央店,type1:new,202007,1,296,2088,0.141762
229,1G39頭份中央店,type2:active,202007,1,625,2088,0.299330
230,1G39頭份中央店,type3:1yr~3yr,202007,1,234,2088,0.112069
231,1G39頭份中央店,type4:3yr~,202007,1,933,2088,0.446839

In [39]:
df02_01=df02.groupby(['site','type','time','timeline'])['id'].count().reset_index(name='n_accum')
df02_01['n_accum']=df02_01.groupby(['site','type'])['n_accum'].cumsum()
df02_02=df02.groupby(['site','time','timeline'])['id'].count().reset_index(name='n_accum_all')
df02_02['n_accum_all']=df02_02.groupby(['site'])['n_accum_all'].cumsum()
df02_01=pd.merge(df02_01,df02_02)
df02_01['percent_accum']=df02_01.n_accum/df02_01.n_accum_all

#df02_02=pd.pivot_table(df02_01,index=['site','type'],values=['percent'],columns=['time'])
#df02_02.columns=df02_01.time.unique()
#df02_02=df02_02.reset_index()
df02_02=df02_01.copy()
df02_02.type=df02_02.type.apply(lambda x:str(x))
df02_02.type=df02_02.type.replace('1','type1:new')
df02_02.type=df02_02.type.replace('2','type2:active')
df02_02.type=df02_02.type.replace('3','type3:1yr~3yr')
df02_02.type=df02_02.type.replace('4','type4:3yr~')

In [40]:
df02_02

,site,type,time,timeline,n_accum,n_accum_all,percent_accum
0,1G30林口中山店,type1:new,201907,1,212,1638,0.129426
1,1G30林口中山店,type2:active,201907,1,783,1638,0.478022
2,1G30林口中山店,type3:1yr~3yr,201907,1,221,1638,0.134921
3,1G30林口中山店,type4:3yr~,201907,1,422,1638,0.257631
4,1G30林口中山店,type1:new,201908,2,370,4138,0.089415
...,...,...,...,...,...,...,...
227,1G38大安安和店,type4:3yr~,202007,3,1251,4137,0.302393
228,1G39頭份中央店,type1:new,202007,1,296,2088,0.141762
229,1G39頭份中央店,type2:active,202007,1,625,2088,0.299330
230,1G39頭份中央店,type3:1yr~3yr,202007,1,234,2088,0.112069
231,1G39頭份中央店,type4:3yr~,202007,1,933,2088,0.446839

In [41]:
df03=pd.merge(df01_02,df02_02)

In [42]:
df03

,site,type,time,timeline,n_month,n_month_all,percent_month,n_accum,n_accum_all,percent_accum
0,1G30林口中山店,type1:new,201907,1,212,1638,0.129426,212,1638,0.129426
1,1G30林口中山店,type2:active,201907,1,783,1638,0.478022,783,1638,0.478022
2,1G30林口中山店,type3:1yr~3yr,201907,1,221,1638,0.134921,221,1638,0.134921
3,1G30林口中山店,type4:3yr~,201907,1,422,1638,0.257631,422,1638,0.257631
4,1G30林口中山店,type1:new,201908,2,158,2875,0.054957,370,4138,0.089415
...,...,...,...,...,...,...,...,...,...,...
227,1G38大安安和店,type4:3yr~,202007,3,471,1864,0.252682,1251,4137,0.302393
228,1G39頭份中央店,type1:new,202007,1,296,2088,0.141762,296,2088,0.141762
229,1G39頭份中央店,type2:active,202007,1,625,2088,0.299330,625,2088,0.299330
230,1G39頭份中央店,type3:1yr~3yr,202007,1,234,2088,0.112069,234,2088,0.112069
231,1G39頭份中央店,type4:3yr~,202007,1,933,2088,0.446839,933,2088,0.446839

In [43]:
j

'202007'

In [44]:
df03.to_excel(r'C:\Users\RT009223\TestriteGroup\滲透率專案\06_TLW社區店\TLW社區店'+j+'會員組成.xlsx',index=0)

In [45]:
j

'202007'