In [1]:
%matplotlib inline
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
import warnings
warnings.filterwarnings("ignore")

In [3]:
site=['1G30林口中山店','1G32桃園大業店','1G33竹北文興店','1G34蘆洲集賢店','1G35板橋新埔店','1G36新營金華店','1G37永康復國店','1G38大安安和店']
import os

In [10]:
for i in site:
    os.chdir('C:/Users/RT009223/TestriteGroup/滲透率專案/01_raw data/TLW社區店/'+i)
    files=os.listdir('C:/Users/RT009223/TestriteGroup/滲透率專案/01_raw data/TLW社區店/'+i)
    start=1
    if len(files)>12:
        files=files[:12]
    for j in files:
        print(i,start,j)
        start+=1

1G30林口中山店 1 201907
1G30林口中山店 2 201908
1G30林口中山店 3 201909
1G30林口中山店 4 201910
1G30林口中山店 5 201911
1G30林口中山店 6 201912
1G30林口中山店 7 202001
1G30林口中山店 8 202002
1G30林口中山店 9 202003
1G30林口中山店 10 202004
1G30林口中山店 11 202005
1G30林口中山店 12 202006
1G32桃園大業店 1 201909
1G32桃園大業店 2 201910
1G32桃園大業店 3 201911
1G32桃園大業店 4 201912
1G32桃園大業店 5 202001
1G32桃園大業店 6 202002
1G32桃園大業店 7 202003
1G32桃園大業店 8 202004
1G32桃園大業店 9 202005
1G32桃園大業店 10 202006
1G32桃園大業店 11 202007
1G33竹北文興店 1 201911
1G33竹北文興店 2 201912
1G33竹北文興店 3 202001
1G33竹北文興店 4 202002
1G33竹北文興店 5 202003
1G33竹北文興店 6 202004
1G33竹北文興店 7 202005
1G33竹北文興店 8 202006
1G33竹北文興店 9 202007
1G34蘆洲集賢店 1 201912
1G34蘆洲集賢店 2 202001
1G34蘆洲集賢店 3 202002
1G34蘆洲集賢店 4 202003
1G34蘆洲集賢店 5 202004
1G34蘆洲集賢店 6 202005
1G34蘆洲集賢店 7 202006
1G34蘆洲集賢店 8 202007
1G35板橋新埔店 1 202003
1G35板橋新埔店 2 202004
1G35板橋新埔店 3 202005
1G35板橋新埔店 4 202006
1G35板橋新埔店 5 202007
1G36新營金華店 1 202003
1G36新營金華店 2 202004
1G36新營金華店 3 202005
1G36新營金華店 4 202006
1G36新營金華店 5 202007
1G37永康復國店 1 202004
1G37永康復國店 2 202005
1G37永康復國店 3 202006
1G37永康復國店 4 202007
1G38大安安和店 1 202005
1G38大安安和店 2 202006
1G38大安安和店 3 202007

In [82]:
df01=pd.DataFrame(columns=['id','type','time','site'])
df02=pd.DataFrame(columns=['id','type','time','site'])
for i in site:
    os.chdir('C:/Users/RT009223/TestriteGroup/滲透率專案/01_raw data/TLW社區店/'+i)
    files=os.listdir('C:/Users/RT009223/TestriteGroup/滲透率專案/01_raw data/TLW社區店/'+i)
    if len(files)>12:
        files=files[:12]
    for j in files:
        df01_2=pd.read_csv(j+'/一般卡會員活躍程度.csv',header=None,names=['id','type'])
        df01_2['time']=j
        df01_2['site']=i
        df01_3=df01_2[-(df01_2.id.isin(df02[df02['site']==i]['id']))]
        df01=pd.concat([df01,df01_2]).reset_index(drop=True)
        df02=pd.concat([df02,df01_3]).reset_index(drop=True)
    print(df01.shape)
    print(df02.shape)

(23785, 4)
(15193, 4)
(40642, 4)
(25173, 4)
(58141, 4)
(37795, 4)
(75665, 4)
(51026, 4)
(86583, 4)
(59675, 4)
(95739, 4)
(66979, 4)
(100868, 4)
(71261, 4)
(103913, 4)
(74103, 4)

In [83]:
print(df01.groupby(['site'])['id'].count())
print('去重',df02.groupby(['site'])['id'].count())

site
1G30林口中山店    23785
1G32桃園大業店    16857
1G33竹北文興店    17499
1G34蘆洲集賢店    17524
1G35板橋新埔店    10918
1G36新營金華店     9156
1G37永康復國店     5129
1G38大安安和店     3045
Name: id, dtype: int64
去重 site
1G30林口中山店    15193
1G32桃園大業店     9980
1G33竹北文興店    12622
1G34蘆洲集賢店    13231
1G35板橋新埔店     8649
1G36新營金華店     7304
1G37永康復國店     4282
1G38大安安和店     2842
Name: id, dtype: int64

In [84]:
df01_01=df01.groupby(['site','type','time'])['id'].count().reset_index(name='n_month')
df01_02=df01.groupby(['site','time'])['id'].count().reset_index(name='n_month_all')
df01_01=pd.merge(df01_01,df01_02)
df01_01['percent_month']=df01_01.n_month/df01_01.n_month_all

#df01_02=pd.pivot_table(df01_01,index=['site','type'],values=['percent'],columns=['time'])
#df01_02.columns=df01_01.time.unique()
#df01_02=df01_02.reset_index()
df01_02=df01_01.copy()
df01_02.type=df01_02.type.apply(lambda x:str(x))
df01_02.type=df01_02.type.replace('1','type1:new')
df01_02.type=df01_02.type.replace('2','type2:active')
df01_02.type=df01_02.type.replace('3','type3:1yr~3yr')
df01_02.type=df01_02.type.replace('4','type4:3yr~')

In [85]:
df01_02

          site           type    time  n_month  n_month_all  percent_month
0    1G30林口中山店      type1:new  201907      212         1638       0.129426
1    1G30林口中山店   type2:active  201907      783         1638       0.478022
2    1G30林口中山店  type3:1yr~3yr  201907      221         1638       0.134921
3    1G30林口中山店     type4:3yr~  201907      422         1638       0.257631
4    1G30林口中山店      type1:new  201908      158         2875       0.054957
..         ...            ...     ...      ...          ...            ...
195  1G38大安安和店     type4:3yr~  202005      185          655       0.282443
196  1G38大安安和店      type1:new  202006      267         2390       0.111715
197  1G38大安安和店   type2:active  202006     1092         2390       0.456904
198  1G38大安安和店  type3:1yr~3yr  202006      436         2390       0.182427
199  1G38大安安和店     type4:3yr~  202006      595         2390       0.248954

[200 rows x 6 columns]

In [86]:
df02_01=df02.groupby(['site','type','time'])['id'].count().reset_index(name='n_accum')
df02_01['n_accum']=df02_01.groupby(['site','type'])['n_accum'].cumsum()
df02_02=df02.groupby(['site','time'])['id'].count().reset_index(name='n_accum_all')
df02_02['n_accum_all']=df02_02.groupby(['site'])['n_accum_all'].cumsum()
df02_01=pd.merge(df02_01,df02_02)
df02_01['percent_accum']=df02_01.n_accum/df02_01.n_accum_all

#df02_02=pd.pivot_table(df02_01,index=['site','type'],values=['percent'],columns=['time'])
#df02_02.columns=df02_01.time.unique()
#df02_02=df02_02.reset_index()
df02_02=df02_01.copy()
df02_02.type=df02_02.type.apply(lambda x:str(x))
df02_02.type=df02_02.type.replace('1','type1:new')
df02_02.type=df02_02.type.replace('2','type2:active')
df02_02.type=df02_02.type.replace('3','type3:1yr~3yr')
df02_02.type=df02_02.type.replace('4','type4:3yr~')

In [87]:
df02_02

          site           type    time  n_accum  n_accum_all  percent_accum
0    1G30林口中山店      type1:new  201907      212         1638       0.129426
1    1G30林口中山店   type2:active  201907      783         1638       0.478022
2    1G30林口中山店  type3:1yr~3yr  201907      221         1638       0.134921
3    1G30林口中山店     type4:3yr~  201907      422         1638       0.257631
4    1G30林口中山店      type1:new  201908      370         4138       0.089415
..         ...            ...     ...      ...          ...            ...
195  1G38大安安和店     type4:3yr~  202005      185          655       0.282443
196  1G38大安安和店      type1:new  202006      435         2842       0.153061
197  1G38大安安和店   type2:active  202006     1121         2842       0.394441
198  1G38大安安和店  type3:1yr~3yr  202006      506         2842       0.178044
199  1G38大安安和店     type4:3yr~  202006      780         2842       0.274455

[200 rows x 6 columns]

In [88]:
df03=pd.merge(df01_02,df02_02)

In [89]:
df03

,site,type,time,n_month,n_month_all,percent_month,n_accum,n_accum_all,percent_accum
0,1G30林口中山店,type1:new,201907,212,1638,0.129426,212,1638,0.129426
1,1G30林口中山店,type2:active,201907,783,1638,0.478022,783,1638,0.478022
2,1G30林口中山店,type3:1yr~3yr,201907,221,1638,0.134921,221,1638,0.134921
3,1G30林口中山店,type4:3yr~,201907,422,1638,0.257631,422,1638,0.257631
4,1G30林口中山店,type1:new,201908,158,2875,0.054957,370,4138,0.089415
...,...,...,...,...,...,...,...,...,...
195,1G38大安安和店,type4:3yr~,202005,185,655,0.282443,185,655,0.282443
196,1G38大安安和店,type1:new,202006,267,2390,0.111715,435,2842,0.153061
197,1G38大安安和店,type2:active,202006,1092,2390,0.456904,1121,2842,0.394441
198,1G38大安安和店,type3:1yr~3yr,202006,436,2390,0.182427,506,2842,0.178044
199,1G38大安安和店,type4:3yr~,202006,595,2390,0.248954,780,2842,0.274455

In [90]:
df03.to_excel(r'C:\Users\RT009223\TestriteGroup\滲透率專案\06_TLW社區店\TLW社區店'+j+'會員組成.xlsx',index=0)

In [41]:
j

'202006'