In [37]:
%matplotlib inline
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

import warnings
warnings.filterwarnings('ignore')

import os

In [38]:
os.chdir(r'C:\Users\RT009223\TestriteGroup\滲透率專案\01_raw data\TOGS\TGOS_upload\upload_data\finished')
files=os.listdir(r'C:\Users\RT009223\TestriteGroup\滲透率專案\01_raw data\TOGS\TGOS_upload\upload_data\finished')
files= [n for n in files if n !='adjusted' ]
files

['1C_1907_2008_00.csv',
 '1G45_1108.csv',
 '1G45_1116.xlsx',
 '1WZ9_1S_20H1_00.csv',
 '1WZ9_1S_20H1_01.csv',
 '1WZ9_1S_20H1_02.csv',
 'ABCGSW_20200923_00.csv',
 'ABCGSW_20200923_01.csv',
 'ABGS_1WZ9_07_08_00.csv',
 'ABGS_1WZ9_07_08_01.csv',
 'ABGS_1WZ9_07_08_02.csv',
 'ABGS_1WZ9_07_08_03.csv',
 'ABG_20H1_00.csv',
 'ABG_20H1_01.csv',
 'new_2010.xlsx',
 'new_20200930_00.csv',
 'old_20200811_00.csv',
 'old_20200811_01.csv',
 'old_20200811_02.csv',
 'old_20200902_00.csv',
 'old_20200924_00.csv',
 'old_20201110.xlsx']

In [39]:
df_all=pd.DataFrame(columns=['id', 'Address', 'Response_Address', 'Response_X', 'Response_Y'])

In [40]:
for f in files:
    if 'xlsx' in f:
        df01=pd.read_excel(f, encoding = 'big5')
        df_all=pd.concat([df_all,df01]).reset_index(drop=True)
        print(f,df_all.shape)
    else:
        df01=pd.read_csv(f, encoding = 'big5')
        df_all=pd.concat([df_all,df01]).reset_index(drop=True)
        print(f,df_all.shape)

1C_1907_2008_00.csv (159, 5)
1G45_1108.csv (241, 5)
1G45_1116.xlsx (409, 5)
1WZ9_1S_20H1_00.csv (10409, 5)
1WZ9_1S_20H1_01.csv (20409, 5)
1WZ9_1S_20H1_02.csv (23625, 5)
ABCGSW_20200923_00.csv (33625, 5)
ABCGSW_20200923_01.csv (41004, 5)
ABGS_1WZ9_07_08_00.csv (51004, 5)
ABGS_1WZ9_07_08_01.csv (61004, 5)
ABGS_1WZ9_07_08_02.csv (71004, 5)
ABGS_1WZ9_07_08_03.csv (77369, 5)
ABG_20H1_00.csv (87369, 5)
ABG_20H1_01.csv (97170, 5)
new_2010.xlsx (133220, 5)
new_20200930_00.csv (138113, 5)
old_20200811_00.csv (148113, 5)
old_20200811_01.csv (158113, 5)
old_20200811_02.csv (165489, 5)
old_20200902_00.csv (169739, 5)
old_20200924_00.csv (174502, 5)
old_20201110.xlsx (183594, 5)

In [41]:
df_all=df_all.drop_duplicates(subset='id').reset_index(drop=True)

In [42]:
os.chdir(r'C:\Users\RT009223\TestriteGroup\滲透率專案\01_raw data\TOGS\TGOS_download\up_to_SQL\finished')
files=os.listdir(r'C:\Users\RT009223\TestriteGroup\滲透率專案\01_raw data\TOGS\TGOS_download\up_to_SQL\finished')
files= [n for n in files if n !='adjusted' ]
files

['20200812new.xlsx',
 '20200813old.xlsx',
 '20200814new.xlsx',
 '20200902new.xlsx',
 '20200902old.xlsx',
 '20200922new.xlsx',
 '20200924new.xlsx',
 '20200924old.xlsx',
 '20201006new.xlsx',
 '20201109new.xlsx',
 '20201110new.xlsx',
 '20201111old.xlsx',
 '20201116new.xlsx']

In [43]:
df_have=pd.DataFrame(columns=['id', 'Address', 'Response_Address', 'Response_X', 'Response_Y', 'date','process_id'])

for f in files:
    if 'xlsx' in f:
        df01=pd.read_excel(f, encoding = 'big5')
        df_have=pd.concat([df_have,df01]).reset_index(drop=True)
        print(f,df_have.shape)
    else:
        df01=pd.read_csv(f, encoding = 'big5')
        df_have=pd.concat([df_have,df01]).reset_index(drop=True)
        print(f,df_have.shape)

20200812new.xlsx (17510, 7)
20200813old.xlsx (43580, 7)
20200814new.xlsx (57051, 7)
20200902new.xlsx (90170, 7)
20200902old.xlsx (92995, 7)
20200922new.xlsx (93118, 7)
20200924new.xlsx (108972, 7)
20200924old.xlsx (112178, 7)
20201006new.xlsx (116464, 7)
20201109new.xlsx (126556, 7)
20201110new.xlsx (139436, 7)
20201111old.xlsx (147339, 7)
20201116new.xlsx (147421, 7)

In [44]:
df_have=df_have.drop_duplicates(subset='id').reset_index(drop=True)

In [45]:
df03=df_all[-df_all.id.isin(df_have.id)].reset_index(drop=True)

In [46]:
df03

,id,Address,Response_Address,Response_X,Response_Y
0,19991226000583,台南市中西區南區永華路32號7FB室,NaN,NaN,NaN
1,20000319018834,台北市中山區大直通北街146巷94弄,NaN,NaN,NaN
2,20030225000318,宜蘭縣五結鄉協和北路７４號,NaN,NaN,NaN
3,20040613000052,台南市新市區永華2街18號2樓,NaN,NaN,NaN
4,20041116002120,台中市西屯區正和路155號,NaN,NaN,NaN
...,...,...,...,...,...
36063,20080821000053,新北市泰山區明路三段510-2號8樓,NaN,NaN,NaN
36064,20070629000404,台南市鹽水區水秀里土庫路56-3號,NaN,NaN,NaN
36065,20090909005814,高雄市鳥松區本館路281巷10號,NaN,NaN,NaN
36066,20050918000381,彰化縣彰化市彰化,NaN,NaN,NaN
36067,20060325000056,台北市大安區,NaN,NaN,NaN

In [47]:
os.chdir(r'C:\Users\RT009223\TestriteGroup\滲透率專案\01_raw data\TOGS\TGOS_upload\upload_data')
df03.to_excel('get_back'+'.xlsx',index=False,encoding='utf-8-sig')

In [48]:
import re
df03.Address=df03.Address.astype('str')
df03.Address=df03.Address.apply(lambda x:x.translate(str.maketrans('０１２３４５６７８９', '0123456789')))

In [49]:
df03.Address=df03.Address.apply(lambda x:re.sub('號.*','號',x))
df03.Address=df03.Address.apply(lambda x:re.sub('之[0-9]*號','號',x))
df03.Address=df03.Address.apply(lambda x:re.sub('[-,－][0-9]*號','號',x))
df03.Address=df03.Address.apply(lambda x:re.sub('[(,),（,）]','',x))
df03.Address=df03.Address.apply(lambda x:re.sub('[-,－]','',x))
df03.Address=df03.Address.apply(lambda x:re.sub('\u3000','',x))
#df03.Address=df03.Address.apply(lambda x:re.sub('\s','',x))


df03.Address=df03.Address.apply(lambda x:re.sub('11街','十一街',x))
df03.Address=df03.Address.apply(lambda x:re.sub('12街','十二街',x))
df03.Address=df03.Address.apply(lambda x:re.sub('13街','十三街',x))
df03.Address=df03.Address.apply(lambda x:re.sub('14街','十四街',x))
df03.Address=df03.Address.apply(lambda x:re.sub('15街','十五街',x))
df03.Address=df03.Address.apply(lambda x:re.sub('16街','十六街',x))
df03.Address=df03.Address.apply(lambda x:re.sub('17街','十七街',x))
df03.Address=df03.Address.apply(lambda x:re.sub('18街','十八街',x))
df03.Address=df03.Address.apply(lambda x:re.sub('19街','十九街',x))
df03.Address=df03.Address.apply(lambda x:re.sub('20街','二十街',x))
df03.Address=df03.Address.apply(lambda x:re.sub('1街','一街',x))
df03.Address=df03.Address.apply(lambda x:re.sub('2街','二街',x))
df03.Address=df03.Address.apply(lambda x:re.sub('3街','三街',x))
df03.Address=df03.Address.apply(lambda x:re.sub('4街','四街',x))
df03.Address=df03.Address.apply(lambda x:re.sub('5街','五街',x))
df03.Address=df03.Address.apply(lambda x:re.sub('6街','六街',x))
df03.Address=df03.Address.apply(lambda x:re.sub('7街','七街',x))
df03.Address=df03.Address.apply(lambda x:re.sub('8街','八街',x))
df03.Address=df03.Address.apply(lambda x:re.sub('9街','九街',x))
df03.Address=df03.Address.apply(lambda x:re.sub('10街','十街',x))


df03.Address=df03.Address.apply(lambda x:re.sub('10路','十路',x))
df03.Address=df03.Address.apply(lambda x:re.sub('11路','十一路',x))
df03.Address=df03.Address.apply(lambda x:re.sub('12路','十二路',x))
df03.Address=df03.Address.apply(lambda x:re.sub('13路','十三路',x))
df03.Address=df03.Address.apply(lambda x:re.sub('14路','十四路',x))
df03.Address=df03.Address.apply(lambda x:re.sub('15路','十五路',x))
df03.Address=df03.Address.apply(lambda x:re.sub('16路','十六路',x))
df03.Address=df03.Address.apply(lambda x:re.sub('17路','十七路',x))
df03.Address=df03.Address.apply(lambda x:re.sub('18路','十八路',x))
df03.Address=df03.Address.apply(lambda x:re.sub('19路','十九路',x))
df03.Address=df03.Address.apply(lambda x:re.sub('20路','二十路',x))
df03.Address=df03.Address.apply(lambda x:re.sub('1路','一路',x))
df03.Address=df03.Address.apply(lambda x:re.sub('2路','二路',x))
df03.Address=df03.Address.apply(lambda x:re.sub('3路','三路',x))
df03.Address=df03.Address.apply(lambda x:re.sub('4路','四路',x))
df03.Address=df03.Address.apply(lambda x:re.sub('5路','五路',x))
df03.Address=df03.Address.apply(lambda x:re.sub('6路','六路',x))
df03.Address=df03.Address.apply(lambda x:re.sub('7路','七路',x))
df03.Address=df03.Address.apply(lambda x:re.sub('8路','八路',x))
df03.Address=df03.Address.apply(lambda x:re.sub('9路','九路',x))

df03.Address=df03.Address.apply(lambda x:re.sub('1段','一段',x))
df03.Address=df03.Address.apply(lambda x:re.sub('2段','二段',x))
df03.Address=df03.Address.apply(lambda x:re.sub('3段','三段',x))
df03.Address=df03.Address.apply(lambda x:re.sub('4段','四段',x))
df03.Address=df03.Address.apply(lambda x:re.sub('5段','五段',x))
df03.Address=df03.Address.apply(lambda x:re.sub('6段','六段',x))
df03.Address=df03.Address.apply(lambda x:re.sub('7段','七段',x))
df03.Address=df03.Address.apply(lambda x:re.sub('8段','八段',x))
df03.Address=df03.Address.apply(lambda x:re.sub('9段','九段',x))

In [55]:
df03.Address[df03.Address.apply(lambda x:x[0:6]==x[6:12])]=df03.Address[df03.Address.apply(lambda x:x[0:6]==x[6:12])].apply(lambda x:x[6:])
df03.Address[df03.Address.apply(lambda x:x[0:3]==x[3:6])]=df03.Address[df03.Address.apply(lambda x:x[0:3]==x[3:6])].apply(lambda x:x[3:])
df03.Address[df03.Address.apply(lambda x:x[3:6]==x[6:9])]=df03.Address[df03.Address.apply(lambda x:x[3:6]==x[6:9])].apply(lambda x:x[0:3]+x[6:])

In [56]:
df03.Address[df03.Address.apply(lambda x:x[0:6]==x[6:12])]

Series([], Name: Address, dtype: object)

In [57]:
df03.Address[df03.Address.apply(lambda x:x[0:3]==x[3:6])]

Series([], Name: Address, dtype: object)

In [59]:
os.chdir(r'C:\Users\RT009223\TestriteGroup\滲透率專案\01_raw data\TOGS\TGOS_upload\upload_data')
for i in range((df03.shape[0]//10000)+1):
    df04=df03.iloc[i*10000:(i+1)*10000,:]
    print(df04.shape)
    df04.to_csv('get_back'+'_'+str(i).zfill(2)+'.csv',index=False,encoding='utf-8-sig')

(10000, 5)
(10000, 5)
(10000, 5)
(6068, 5)

In [36]:
import random
random.choices(df03.Address,k=10)

['台南市麻豆區安西里東溪州2號',
 '新北市樹林區學成路613號',
 '新北市新店區太平東路35巷24號',
 '基隆市中正區正信路227巷21弄26號',
 '高雄市鳳山區中侖二路578巷5號',
 '高雄市楠梓區翠華路98號',
 '桃園市楊梅區青山二街354號',
 '新北市三重區三合路四段203巷92號',
 '台北市士林區士東路266巷10號',
 '新北市中和區復興街280巷3弄三號']

In [24]:
df03.iloc[10:20,:]

,id,Address,Response_Address,Response_X,Response_Y
10,20121202000420,台中市中 區大弘五街5號,NaN,NaN,NaN
11,20160724000177,嘉義市江竹仔腳3號,NaN,NaN,NaN
12,20160817009707,台中市南屯區大墩十一街541號,NaN,NaN,NaN
13,20181008000144,彰化縣二林鎮建國路486巷3號,NaN,NaN,NaN
14,20181102000510,台北市北投區大業路529號,NaN,NaN,NaN
15,20190615000036,台中市北屯區軍榮一街88號,NaN,NaN,NaN
16,20190830000287,基隆市七堵區綠葉街69巷6號,NaN,NaN,NaN
17,20190907001158,高雄市楠梓區大學二十街11號,NaN,NaN,NaN
18,20191201000411,新北市三重區溪尾街42號,NaN,NaN,NaN
19,20191202000432,宜蘭縣宜蘭市五結鄉中興路一段237巷11弄7號,NaN,NaN,NaN

In [107]:
import os
os.chdir(r'C:\Users\RT009223\TestriteGroup\滲透率專案\02_adjusted data')
pop=pd.read_excel(r'台灣202008年村里人口.xlsx')

In [108]:
site=list(pop['行政區'].unique())+list(pop['村里'].unique())

In [109]:
for i in site:
    df03.Address=df03.Address.apply(lambda x:re.sub(i,'',x))

In [110]:
site2=[i[:-1] for i in list(pop['行政區'].unique()) if len(i)>=3 ]

In [111]:
site2

['林園',
 '旗津',
 '南竿',
 '北竿',
 '潮州',
 '東港',
 '瑞穗',
 '莒光',
 '金峰',
 '花蓮',
 '大甲',
 '清水',
 '新港',
 '大溪',
 '八德',
 '竹山',
 '水里',
 '內埔',
 '竹田',
 '台西',
 '屏東',
 '恆春',
 '萬丹',
 '長治',
 '九如',
 '里港',
 '鹽埔',
 '高樹',
 '萬巒',
 '枋寮',
 '新園',
 '崁頂',
 '林邊',
 '南州',
 '佳冬',
 '車城',
 '霧台',
 '泰武',
 '台東',
 '成功',
 '關山',
 '卑南',
 '鳳林',
 '吉安',
 '壽豐',
 '尖石',
 '五峰',
 '北埔',
 '峨眉',
 '寶山',
 '香山',
 '布袋',
 '中埔',
 '義竹',
 '鹿草',
 '番路',
 '水上',
 '朴子',
 '東石',
 '阿里山',
 '太保',
 '竹崎',
 '六腳',
 '民雄',
 '梅山',
 '大林',
 '溪口',
 '大埔',
 '歸仁',
 '安南',
 '七股',
 '下營',
 '仁德',
 '左鎮',
 '安定',
 '新營',
 '七堵',
 '暖暖',
 '仁愛',
 '安樂',
 '信義',
 '中山',
 '中正',
 '新化',
 '新市',
 '玉井',
 '關廟',
 '中西',
 '柳營',
 '麻豆',
 '六甲',
 '龜山',
 '桃園',
 '斗南',
 '芎林',
 '佳里',
 '鹽水',
 '白河',
 '後壁',
 '東山',
 '官田',
 '大內',
 '西港',
 '善化',
 '山上',
 '楠西',
 '南化',
 '龍崎',
 '永康',
 '將軍',
 '北門',
 '安平',
 '學甲',
 '斗六',
 '竹東',
 '白沙',
 '烏坵',
 '中壢',
 '新豐',
 '鹽埕',
 '竹北',
 '鼓山',
 '池上',
 '新埔',
 '關西',
 '湖口',
 '橫山',
 '馬公',
 '湖西',
 '西嶼',
 '望安',
 '七美',
 '左營',
 '楠梓',
 '三民',
 '大湖',
 '大園',
 '平鎮',
 '公館',
 '通霄',
 '竹南',
 '頭份',
 '後龍',
 '卓蘭',
 '銅鑼',
 '南庄',
 '頭屋',
 '三義',
 '西湖',
 '造橋',
 '三灣',
 '獅潭',
 '泰安',
 '苗栗',
 '苑裡',
 '西屯',
 '北屯',
 '后里',
 '神岡',
 '潭子',
 '大雅',
 '新社',
 '石岡',
 '外埔',
 '大安',
 '烏日',
 '大肚',
 '龍井',
 '霧峰',
 '太平',
 '大里',
 '和平',
 '南屯',
 '豐原',
 '東勢',
 '沙鹿',
 '梧棲',
 '觀音',
 '達仁',
 '東河',
 '楊梅',
 '龍潭',
 '復興',
 '新屋',
 '蘆竹',
 '宜蘭',
 '羅東',
 '蘇澳',
 '頭城',
 '礁溪',
 '壯圍',
 '員山',
 '冬山',
 '五結',
 '三星',
 '大同',
 '南澳',
 '鹿野',
 '長濱',
 '太麻里',
 '大武',
 '延平',
 '海端',
 '田中',
 '社頭',
 '福興',
 '金湖',
 '金沙',
 '二水',
 '北斗',
 '二林',
 '埔鹽',
 '光復',
 '豐濱',
 '埔心',
 '彰化',
 '鹿港',
 '秀水',
 '花壇',
 '芬園',
 '溪湖',
 '大村',
 '永靖',
 '田尾',
 '埤頭',
 '芳苑',
 '大城',
 '竹塘',
 '溪州',
 '員林',
 '線西',
 '伸港',
 '和美',
 '綠島',
 '蘭嶼',
 '玉里',
 '新城',
 '富里',
 '秀林',
 '萬榮',
 '卓溪',
 '金寧',
 '烈嶼',
 '金城',
 '新興',
 '前金',
 '苓雅',
 '前鎮',
 '小港',
 '大寮',
 '大樹',
 '大社',
 '仁武',
 '鳥松',
 '岡山',
 '橋頭',
 '燕巢',
 '田寮',
 '阿蓮',
 '路竹',
 '湖內',
 '茄萣',
 '彌陀',
 '梓官',
 '旗山',
 '美濃',
 '甲仙',
 '內門',
 '桃源',
 '杉林',
 '鳳山',
 '永安',
 '六龜',
 '茂林',
 '那瑪夏',
 '枋山',
 '獅子',
 '來義',
 '三地門',
 '琉球',
 '牡丹',
 '滿州',
 '春日',
 '瑪家',
 '麟洛',
 '仁愛',
 '新埤',
 '國姓',
 '埔里',
 '虎尾',
 '西螺',
 '土庫',
 '北港',
 '古坑',
 '大埤',
 '莿桐',
 '林內',
 '二崙',
 '崙背',
 '麥寮',
 '東勢',
 '褒忠',
 '元長',
 '四湖',
 '口湖',
 '水林',
 '信義',
 '魚池',
 '草屯',
 '南投',
 '名間',
 '中寮',
 '集集',
 '東引',
 '鹿谷',
 '烏來',
 '三峽',
 '新店',
 '坪林',
 '鶯歌',
 '樹林',
 '土城',
 '石碇',
 '中和',
 '板橋',
 '永和',
 '雙溪',
 '深坑',
 '新莊',
 '貢寮',
 '平溪',
 '泰山',
 '汐止',
 '三重',
 '五股',
 '林口',
 '蘆洲',
 '瑞芳',
 '八里',
 '淡水',
 '萬里',
 '三芝',
 '金山',
 '石門',
 '文山',
 '萬華',
 '南港',
 '松山',
 '大同',
 '內湖',
 '士林',
 '北投']

In [113]:
for i in site2:
    df03.Address=df03.Address.apply(lambda x:re.sub(i,'',x))

In [114]:
df03

,id,Address,Response_Address,Response_X,Response_Y
0,19991226000583,台南市中永華路32號,NaN,NaN,NaN
1,20000319018834,台北市大直通北街146巷94弄,NaN,NaN,NaN
2,20030225000318,縣協和北路74號,NaN,NaN,NaN
3,20040613000052,台南市永華二街18號,NaN,NaN,NaN
4,20041116002120,台中市正和路155號,NaN,NaN,NaN
...,...,...,...,...,...
36063,20080821000053,新北市明路三段510號,NaN,NaN,NaN
36064,20070629000404,台南市路56號,NaN,NaN,NaN
36065,20090909005814,高雄市本館路281巷10號,NaN,NaN,NaN
36066,20050918000381,縣,NaN,NaN,NaN
36067,20060325000056,台北市,NaN,NaN,NaN

In [67]:
re.sub('.*[鄉,鎮,市,區].*[鄉,鎮,市,區,.].*','','宜蘭縣宜蘭市五結鄉中興鄉路一段237巷11弄7號')

''

In [70]:
ex='宜蘭縣宜蘭市五結鄉中興鄉路一段237巷11弄7號'

In [72]:
pattern=re.compile(r'[鄉,鎮,市,區]',re.I)

In [77]:
pattern.search(ex)

In [21]:
files[-1]

'~$new_2010.xlsx'

In [19]:
df01=pd.read_excel('new_2010.xlsx', encoding = 'big5')

In [20]:
df01

,id,Address,Response_Address,Response_X,Response_Y
0,19940130000008,高雄市前鎮區漁港南3路9號,NaN,NaN,NaN
1,19940225000023,高雄市左營區明華1路275號7F之3,NaN,NaN,NaN
2,19960101000029,台北市士林區仁愛路４段２３２號５樓之２,NaN,NaN,NaN
3,19960101000304,高雄市前鎮區前鎮區德昌街２巷９－３號,NaN,NaN,NaN
4,19960101000683,台南市東 區裕敬2街117號,NaN,NaN,NaN
...,...,...,...,...,...
36045,20201029000420,台北市文山區汀州路4段85巷21號1樓,NaN,NaN,NaN
36046,20201029000574,新北市三重區中華路59號3樓,NaN,NaN,NaN
36047,20201029001115,新北市土城區中央路二段21巷118號7樓,NaN,NaN,NaN
36048,20201030000055,台北市大同區重慶北路3段73號1樓,NaN,NaN,NaN
36049,20201031000062,新北市新莊區中信街176-2號7樓,NaN,NaN,NaN

In [18]:
import os

print(os.getcwd()) #打印出当前工作路径

C:\Users\RT009223\TestriteGroup\滲透率專案\01_raw data\TOGS\TGOS_upload\upload_data\finished